<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    {{> header}}

    <main>
        <article>

            <form action="/" method="GET" data-search-form="form">

                {{!-- <input type="search" id="search" name="searchValue" placeholder="Search for a character" data-search-input="input"/> --}}
                {{log 'ls' localStorage}}
                <fieldset>
                    <legend><b>Ben je CMD student?</b></legend>

                    <label for="ja">
                        <input type="radio" id="ja" name="studentAchtergrond" value="wel CMD"
                            {{#if (eqw data.studentAchtergrond "wel CMD")}} checked {{/if}}>

                        Ja</label>
                    <label for="nee">
                        <input type="radio" id="nee" name="studentAchtergrond" value="geen CMD"
                            {{#if (eqw data.studentAchtergrond "geen CMD")}} checked {{/if}}>

                        Nee
                    </label>
                </fieldset>

                <fieldset>
                    <legend><b>Hoe bevalt de minor je tot nu toe?</b></legend>

                    <label for="goed">
                        <input type="radio" id="goed" name="bevalt" value="goed te doen"
                            {{#if (eqw data.bevalt "goed te doen")}} checked {{/if}}>

                        Goed te doen</label>
                    <label for="zwaar">
                        <input type="radio" id="zwaar" name="bevalt" value="zwaar" {{#if (eqw data.bevalt "zwaar")}}
                            checked {{/if}}>

                        Zwaar, maar managable</label>
                    <label for="niet">
                        <input type="radio" id="niet" name="bevalt" value="niet te doen"
                            {{#if (eqw data.bevalt "niet te doen")}} checked {{/if}}>

                        Niet te doen
                    </label>
                </fieldset>

                <fieldset>
                    <legend><b>Had je al voorkennis over HTML, CSS en Javascript?</b></legend>

                    <label for="VKja">
                        <input type="radio" id="VKja" name="voorkennis" value="wel voorkennis"
                            {{#if (eqw data.voorkennis "wel voorkennis")}} checked {{/if}}>

                        Ja</label>

                    <label for="VKnee">
                        <input type="radio" id="VKnee" name="voorkennis" value="geen voorkennis"
                            {{#if (eqw data.voorkennis "geen voorkennis")}} checked {{/if}}>

                        Nee
                    </label>
                </fieldset>

                <fieldset>
                    <legend><b>Waar heb je deze voorkennis opgedaan?</b></legend>
                    
                    <label for="geen">
                    
                        <input type="checkbox" id="geen" name="geen" value="Geen"
                            {{#if (eqw data.geen "Geen")}} checked {{/if}}>

                        Ik had geen voorkennis
                    </label>

                    <label for="zelf">
                    
                        <input type="checkbox" id="zelf" name="zelfSchool" value="Zelfscholing"
                            {{#if (eqw data.zelfSchool "Zelfscholing")}} checked {{/if}}>

                        Zelfscholing
                    </label>
                    <label for="school">
                    
                        <input type="checkbox" id="school" name="school" value="School"
                            {{#if (eqw data.school "School")}} checked {{/if}}>

                        School
                    </label>
                    <label for="anders">
                    
                        <input type="checkbox" id="anders" name="anders" value="Anders"
                            {{#if (eqw data.anders "Anders")}} checked {{/if}}>

                        Anders, namelijk: 

                        <input type="text" name="anders" id="andersOpen" placeholder="vul iets in">
                    </label>

                </fieldset>


                <input type="submit" value="opslaan">
                <input type="submit" formaction="/thanks" value="verstuur">
                
                {{#if (not (eq url ''))}}
                
                <p>Sla deze url op door hem te kopieren om later verder te gaan: </p>
                <b class="saveLink"><i>{{url}}</i></b>

                {{/if}}

            </form>


        </article>
    </main>

    {{> footer}}
    <script src="/js/save-input.js"></script>
</body>

</html>