<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}

    <main>
        <article>    

            {{#each books}}
                <section>
                    <img src="{{coverimages.[1]}}" alt="">
                    <h1>{{titles.[0]}}</h1>

                    <p>{{summaries.[0]}}</p>

                </section>


            {{/each}}
            

        </article>
    </main>

{{> footer}}
<script src="/js/search.js"></script>
</body>

</html>