<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> header}}

    <main>
        <article>    

            <p>{{data.studentAchtergrond}}</p>
            <p>{{data.bevalt}}</p>
            <p>{{data.voorkennis}}</p>

        </article>
    </main>

{{> footer}}
<script src="/js/search.js"></script>
</body>

</html>