<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> header}}

    <main>
        <article class="checkup">    
            
            <h2>Overzicht van uw antwoorden:</h2>

            <section class="answerCheck">
            
            <h3>1 - Wat is je geslacht?</h3>

            <p>{{data.geslacht}}</p>

            </section>

            <section class="answerCheck">
            
            <h3>2 - Ben je CMD student?</h3>

            <p>{{data.studentAchtergrond}}</p>

            </section>

            <section class="answerCheck">
            
            <h3>3 - Hoe bevalt de minor je tot nu toe?</h3>

            <p>{{data.bevalt}}</p>

            </section>
            
            <section class="answerCheck">
            
            <h3>3 - Hoe bevalt de minor je tot nu toe?</h3>

            <p>{{data.voorkennis}}</p>

            </section>
            



        </article>
    </main>

{{> footer}}
</body>

</html>