<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> header}}

    <main>
        <article class="checkup">    

            <p>{{data.studentAchtergrond}}</p>
            <p>{{data.bevalt}}</p>
            <p>{{data.voorkennis}}</p>

        </article>
    </main>

{{> footer}}
</body>

</html>