*{
    padding: 0;
    margin: 0;
}

header{
    /* display: flex; */
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 10px black;
}

header > section:first-of-type{
    display: flex;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }

  .progress-bar {
    height: 8px;
    background: seagreen;
    width: 0%;
  }
  

h1{
    margin: auto 0;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.5rem;
}

img{
    display: inline-block;
}

label{
    display: block;
    width: 100%;
}

fieldset:first-of-type{
    margin-top: 20rem;
}

fieldset
{
    border: .2rem solid seagreen;
    -moz-border-radius:.2rem;
    -webkit-border-radius:.2rem;	
    border-radius:.5rem;	
    padding:1rem;	
    transition: 1s;
    margin-bottom: 2rem;
}

legend{
    padding: 1rem;
    background: white;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset:focus-within{
    background: rgba(122, 190, 150, .5);
}

.saveLink{
    background: seagreen;
    color: #ffffff;
    padding: 1rem;
    border-radius:.5rem;
}

.filledIn{
    background-color: green;
}


/* Supports */
@supports(display: flex){
    form{
        display: flex;
        flex-direction: column;
    }
}