<header>
        <section>

        <a href ="https://github.com/cmda-minor-web"><img src="/img/logo.png" width="200" height="200" alt="Logo Minor web development" srcset=""></a>
        <h1>Minor Webdevelopment enquete</h1>

        </section>

        <section class="progress-container">
                <section class="progress-bar" id="myBar"></section>
         </section> 

</header>